<div class="card mt-5 bg-primary">
  <div class="card-body">
    <form  #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" >
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Add product name"
          #name="ngModel"
          [(ngModel)]="productService.selectedProduct.name">
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="category"
          placeholder="Add product category"
          #category="ngModel"
          [(ngModel)]="productService.selectedProduct.category">
      </div>
      <div class="form-group">
         <input
          type="text"
          class="form-control"
          name="location"
          placeholder="Add product location"
          #location="ngModel"
          [(ngModel)]="productService.selectedProduct.location">
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="price"
          placeholder="Add product price"
          #price="ngModel"
          [(ngModel)]="productService.selectedProduct.price">
      </div>
      <div class="form-group">
        <button class="btn btn-accent" type="submit">
          <i class="fas fa-plus-circle"></i>
        </button>
        <button class="btn btn-secondary" type="reset" (click)="onReset(productForm)">
            <i class="fas fa-sync-alt"></i>
          </button>
      </div>
    </form>
  </div>
</div>
